body {
    background: black;
}

h1 {
    color: white;
}

div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: blue;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
